header
  .info.col-xs-4
    .loader(ng-show='!main.weatherTemp')
      i.fa.fa-spinner.fa-spin
    .winfo(ng-show='main.weatherTemp')
      .text.weather {{main.weatherTemp}}ยบ C
      img.weather(ng-src='http:{{main.weatherIcon}}')
    h2.today-day.text-center {{main.todayName}}
    h3.today-num.text-center {{main.DateService.todayNum}}
    h4.today-month.text-center {{main.moty[main.DateService.currentMonthNum]}}
  .col-xs-2.user
    h1
      span(ng-show='main.BookAPIService.getUser()===""')
        | Who?
      span(ng-show='main.BookAPIService.getUser()!==""')
        | {{main.BookAPIService.getUser()}}
  .col-xs-6.people
    h4.text-right
      | Sabino   
      i.fa.fa-toggle-off.sabi(ng-if='main.BookAPIService.getUser()!=="sabino"', ng-click='main.BookAPIService.changeUser("sabino")')
      i.fa.fa-toggle-on.sabi(ng-if='main.BookAPIService.getUser()==="sabino"')
    h4.text-right
      | Xime   
      i.fa.fa-toggle-off.xime(ng-if='main.BookAPIService.getUser()!=="xime"', ng-click='main.BookAPIService.changeUser("xime")')
      i.fa.fa-toggle-on.xime(ng-if='main.BookAPIService.getUser()==="xime"')
    h4.text-right
      | Reni   
      i.fa.fa-toggle-off.reni(ng-if='main.BookAPIService.getUser()!=="reni"', ng-click='main.BookAPIService.changeUser("reni")')
      i.fa.fa-toggle-on.reni(ng-if='main.BookAPIService.getUser()==="reni"')
hr
  
.container
  .week-head
    .head(ng-repeat='dayt in main.dotw track by $index')
      h4 {{dayt}}
  .dayofmonth(ng-repeat='day in main.daysArray track by $index')
    single-day(day='day', month='day.currentMonthNum', year='day.currentyear')
    //- single-week(weekly='week')

  //- a.btn.btn-default(ng-click = 'main.prevMonth()')
  //-   | Prev Month
  //- a.btn.btn-default(ng-click = 'main.nextMonth()')
  //-   | Next Month