header
  .info.col-xs-4
    h2.today-day.text-center {{main.today}}
    h3.today-num.text-center {{main.getToday+1}}
  .people.col-xs-8
    h4.text-right
      | Sabino   
      i.fa.fa-toggle-off.sabi(ng-if='main.BookAPIService.getUser()!=="sabi"', ng-click='main.BookAPIService.changeUser("sabi")')
      i.fa.fa-toggle-on.sabi(ng-if='main.BookAPIService.getUser()=="sabi"')
    h4.text-right
      | Xime   
      i.fa.fa-toggle-off.xime(ng-if='main.BookAPIService.getUser()!=="xime"', ng-click='main.BookAPIService.changeUser("xime")')
      i.fa.fa-toggle-on.xime(ng-if='main.BookAPIService.getUser()=="xime"')
    h4.text-right
      | Reni   
      i.fa.fa-toggle-off.reni(ng-if='main.BookAPIService.getUser()!=="reni"', ng-click='main.BookAPIService.changeUser("reni")')
      i.fa.fa-toggle-on.reni(ng-if='main.BookAPIService.getUser()=="reni"')
hr
.container
  .week-head
    .head(ng-repeat='dayt in main.dotwt track by $index')
      h4 {{dayt}}
  #week(ng-repeat='week in main.weeks')
    single-week(weekly='week')
