@import '../../css/functions';
@import '../../css/colors';

#week{
  .day{
    float: left;
    width: 14.28%;
    text-align: center;
    .num{
      font-size: 1.4em;
      line-height: 40px;
      overflow: hidden;
      width: 40px;
      height: 40px;
      margin: auto;
      cursor: pointer;
      color: $dark-grey;
      -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
              border-radius: 50%;
      &.today{
        color: white;
        background: $red;
      }
      &.booked{
        color: white;
        background: $dark-grey;
      }
      &.sabino{
        background: $dark-grey;
      }
      span{
        float: left;
        width: 100%;
        height: 100%;
      }
    }
  }
}
