.week(ng-repeat='day in weekly.dotw track by $index')
  .day(ng-class='{"past": weekly.checkDate(day)}')
    .date(ng-if='!weekly.BookAPIService.bookedDay(day)')
      .num(ng-class='{"today": day==weekly.today}')
        span(ng-show='day!=0 && !weekly.BookAPIService.bookedDay(day)', ng-click='weekly.openModal(day, weekly.month, weekly.BookAPIService.bookedDay(day))') {{day}}
        span(ng-show='day!=0 && weekly.BookAPIService.bookedDay(day)', ng-click='weekly.openModal(day, weekly.month, weekly.BookAPIService.bookedDay(day))') {{day}}

    .date(ng-if='weekly.BookAPIService.bookedDay(day)')
      .place
        i.fa.fa-home(ng-if='weekly.BookAPIService.bookedDayPlace(weekly.month, day) == "in"')
        i.fa.fa-cab(ng-if='weekly.BookAPIService.bookedDayPlace(weekly.month, day) == "out"')
      .num(ng-class='{"today": day==weekly.today}', class='{{weekly.BookAPIService.getEventUser(weekly.month, day)}}-bg')
        span(ng-show='day!=0 && !weekly.BookAPIService.bookedDay(day)', ng-click='weekly.openModal(day, weekly.month, weekly.BookAPIService.bookedDay(day), weekly.BookAPIService.bookedDayPlace(weekly.month, day))') {{day}}
        span(ng-show='day!=0 && weekly.BookAPIService.bookedDay(day)', ng-click='weekly.openModal(day, weekly.month, weekly.BookAPIService.bookedDay(day), weekly.BookAPIService.bookedDayPlace(weekly.month, day))') {{day}}