@import '../../css/functions';
@import '../../css/colors';

#week{
  .day{
    float: left;
    width: 14.28%;
    text-align: center;
    .num{
      font-size: 1.4em;
      line-height: 40px;
      min-height: 40px;
      color: $dark-grey;
      max-width: 40px;
      margin:auto;
      &.today{
        color: white;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%;
        background: $red;
      }
    }
  }
}
