.modal-header
  .weather(ng-show = 'modal.todayweather')
    img.icon(ng-src='http:{{modal.todayweather.day.condition.icon}}')
    span.max {{modal.todayweather.day.maxtemp_c}}ºC
    span.min {{modal.todayweather.day.mintemp_c}}ºC
  a.close(ng-click='modal.close()')
    i.fa.fa-close
.modal-body
  .event.text-center(ng-if='modal.booked', class='{{modal.BookAPIService.getEventUser(modal.month, modal.day)}}-bg')
    .place
      i.fa.fa-home(ng-if='modal.place==="in"')
      i.fa.fa-cab(ng-if='modal.place==="out"')
    .day {{modal.day}} / {{modal.month+1}} / {{modal.year}}
    span {{modal.BookAPIService.getEventTime(modal.month, modal.day)}}
    .event-info(ng-show='modal.BookAPIService.getEvent(modal.month, modal.day)')
      {{modal.BookAPIService.getEvent(modal.month, modal.day)}}
    .event-info(ng-hide='modal.BookAPIService.getEvent(modal.month, modal.day)')
      | No info :c
    small {{modal.BookAPIService.getEventUser(modal.month, modal.day)}}
  .new-event.text-center(ng-if='!modal.booked')
    .day {{modal.day}} / {{modal.month+1}} / {{modal.year}}
    form(ng-if='modal.BookAPIService.getUser()')
      .icon
        i.fa.fa-birthday-cake
      input.form-control.text-center(ng-model='modal.text', placeholder='what\'s the occasion, {{modal.BookAPIService.getUser()}}?')
      .col-xs-6.place
        .check(ng-show='modal.place=="in"')
          i.fa.fa-check
        .icon(ng-click='modal.place="in"')
          i.fa.fa-home(ng-class='{"op": modal.place=="out"}')
      .col-xs-6.place
        .check(ng-show='modal.place=="out"')
          i.fa.fa-check
        .icon(ng-click='modal.place="out"')
          i.fa.fa-cab(ng-class='{"op": modal.place=="in"}')
      .icon
        i.fa.fa-clock-o
      select.form-control.text-center(ng-model='modal.time', ng-options='hour for hour in modal.hours', ng-init='modal.time = modal.time || modal.hours[0]')

    .dunno(ng-if='!modal.BookAPIService.getUser()')
      .icon
        i.fa.fa-meh-o
      | Select your name first!
.modal-footer
  .icon.red(ng-if='modal.booked && modal.confirm===false', ng-click='modal.confirm=true')
    i.fa.fa-trash
  .confirm(ng-if='modal.confirm===true')
    .icon.red(ng-click='modal.BookAPIService.delBook(modal.day, modal.month); modal.close()')
      i.fa.fa-trash
    span.conf
      i.fa.fa-hand-o-left
      |   BRIAN DON'T! are you sure?   
      
  .icon.center-block(ng-if='!modal.booked && modal.BookAPIService.getUser()', ng-click='modal.BookAPIService.putBook(modal.day, modal.month, modal.text, modal.time, modal.place); modal.close()', class='{{modal.BookAPIService.getUser()}}-bg')
    i.fa.fa-send
