@import '../../css/functions';
@import '../../css/colors';

.modal-header{
  padding: 5px 15px;
  .weather{
    float: left;
    span.max,
    span.min{
      margin: 0 8px;
      color: darken($light-grey, 20);
    }
    img.icon{
      width: 40px;
    }
  }
}
.modal-body{
  padding: 0;
  .event{
    min-height: 200px;
    color: white;
    .place{
      font-size: 22px;
      position: absolute;
      top: 5px;
      right: 10px;
      opacity: .6;
    }
    .day{
      font-size: 2em;
      font-weight: 100;
    }
    .event-info{
      font-size: 2.3em;
      font-weight: 300;
      padding: 0 10px 50px 10px;
    }
    span{
      font-size: .9em;
      font-weight: 300;
    }
    small{
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 100%;
      text-transform: uppercase;
    }
  }
  .new-event{
    min-height: 380px;
    color: white;
    background: $tur;
    .day{
      font-size: 2em;
      font-weight: 100;
    }
    input,
    select{
      width: 80%;
      margin: auto;
      text-align: center;
    }
    .check{
      line-height: 28px;
      position: absolute;
      top: 10px;
      left: 50%;
      width: 30px;
      height: 30px;
      margin-left: 15px;
      color: $green;
      border: 2px solid $green;
      -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
              border-radius: 50%;
      background: white;
    }
    .place{
      .icon{
        color: white;
      }
    }
    .icon{
      font-size: 40px;
      margin: 5px 0;
      color: darken($tur, 20);
      .op{
        opacity: .5;
      }
      .fa-cab{
        font-size: 30px;
        line-height: 40px;
      }
    }
  }
}
.modal-footer{
  position: relative;
  .icon{
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    &.red{
      background: $red;
    }
    &.blue{
      background: $blue;
    }
  }
  .conf{
    position: absolute;
    top: 30px;
    left: 75px;
  }
}
