@import '../../css/functions';
@import '../../css/colors';

.modal-body{
  padding: 0;
  .event{
    min-height: 200px;
    color: white;
    .day{
      font-size: 2em;
      font-weight: 100;
    }
    .event-info{
      font-size: 2.3em;
      font-weight: 300;
      padding: 0 10px 50px 10px;
    }
    span{
      font-size: .9em;
      font-weight: 300;
    }
    small{
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 100%;
      text-transform: uppercase;
    }
  }
  .new-event{
    min-height: 280px;
    color: white;
    background: $tur;
    .day{
      font-size: 2em;
      font-weight: 100;
    }
    input,
    select{
      width: 80%;
      margin: auto;
      text-align: center;
    }
    .icon{
      font-size: 40px;
      margin: 5px 0;
    }
  }
}
.modal-footer{
  position: relative;
  .icon{
    line-height: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    &.red{
      background: $red;
    }
    &.blue{
      background: $blue;
    }
  }
  .conf{
    position: absolute;
    top: 30px;
    left: 75px;
  }
}
