.modal-header
  .weather(ng-show='{{modal.checkWeather(modal.BookAPIService.forecast[modal.numday-1].date)}}')
    span.max Max: {{modal.BookAPIService.forecast[modal.numday-1].day.maxtemp_c}}ºC
    span.min Min: {{modal.BookAPIService.forecast[modal.numday-1].day.mintemp_c}}ºC
    img.icon(ng-src='http:{{modal.BookAPIService.forecast[modal.numday-1].day.condition.icon}}')
  .weather(ng-show='{{!modal.checkWeather(modal.BookAPIService.forecast[modal.numday-1].date)}}')
    span.max IDK?
  a.close(ng-click='modal.close()')
    i.fa.fa-close
.modal-body
  .event.text-center(ng-if='modal.booked', class='{{modal.BookAPIService.getEventUser(modal.month, modal.day)}}-bg')
    .day {{modal.day}} / {{modal.month+1}}
    span {{modal.BookAPIService.getEventTime(modal.month, modal.day)}}
    .event-info(ng-show='modal.BookAPIService.getEvent(modal.month, modal.day)')
      {{modal.BookAPIService.getEvent(modal.month, modal.day)}}
    .event-info(ng-hide='modal.BookAPIService.getEvent(modal.month, modal.day)')
      | No info :c
    small {{modal.BookAPIService.getEventUser(modal.month, modal.day)}}
  .new-event.text-center(ng-if='!modal.booked')
    .day {{modal.day}} / {{modal.month+1}}
    form(ng-if='modal.BookAPIService.getUser()')
      .icon
        i.fa.fa-birthday-cake
      input.form-control.text-center(ng-model='modal.text', placeholder='what\'s the occasion, {{modal.BookAPIService.getUser()}}?')
      .icon
        i.fa.fa-clock-o
      select.form-control.text-center(ng-model='modal.time', ng-options='hour for hour in modal.hours', ng-init='modal.time = modal.time || modal.hours[0]')

    .dunno(ng-if='!modal.BookAPIService.getUser()')
      .icon
        i.fa.fa-meh-o
      | Select your name first!
.modal-footer
  .icon.red(ng-if='modal.booked && modal.confirm===false', ng-click='modal.confirm=true')
    i.fa.fa-trash
  .confirm(ng-if='modal.confirm===true')
    .icon.red(ng-click='modal.BookAPIService.delBook(modal.day, modal.month); modal.close()')
      i.fa.fa-trash
    span.conf
      i.fa.fa-hand-o-left
      |   BRIAN DON'T! are you sure?   
      
  .icon.center-block(ng-if='!modal.booked && modal.BookAPIService.getUser()', ng-click='modal.BookAPIService.putBook(modal.day, modal.month, modal.text, modal.time); modal.close()', class='{{modal.BookAPIService.getUser()}}-bg')
    i.fa.fa-send
